---
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 78
PointerAlignment: Middle
AlwaysBreakTemplateDeclarations: Yes
UseTab: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
...
